<!DOCTYPE HTML>
<html>
	<head>
		<meta charset="utf-8">
		<title>Welcome</title>
		<link rel="stylesheet" type="text/css" href="../stylesheets/style.css">
	</head>
	<body>
		<p class="firstline">{{place_holder1}}</p>
		<p class="secondline">{{place_holder2}}</p>
		<p class="name">{{ph3}}</p>
		<form method="post">
			<label>
				<input type="text" name="name">
			</label>
			<br><br>
			<label>
			   <input type="submit" value="submit">
			</label>
		</form>
		<br><div class="error">{{error}}</div>
	</body>
</html>
